<h1>Listado de exámenes</h1>
<hr>
<div class="row">
    <div class="col text-right">
        <button class="btn btn-primary mr-3" routerLink="/examen/nuevo">
            <i class="fa fa-plus"></i>
            Agregar
        </button>

        <!-- <div class="form-group text-right"> -->
        <button type="button" class="btn btn-danger" routerLink="/">
            <i class="fa fa-arrow-left"></i>
            Volver
        </button>

    </div>
</div>

<table *ngIf="!cargando && examenes.length > 0" class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Alumno</th>
            <th scope="col">Curso</th>
            <th scope="col">Asignatura</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tema</th>
            <th scope="col">Nota</th>
            <th scope="col">Observaciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let examen of examenes; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{examen.alumno}}</td>
            <td>{{examen.curso}}</td>
            <td>{{examen.asignatura}}</td>
            <td>{{examen.fecha}}</td>
            <td>{{examen.tema}}</td>
            <td>{{examen.nota}}</td>
            <td>{{examen.observaciones}}</td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]="['/examen', examen.id]">
                    <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger" (click)="borrarAsignatura(examen, i)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="!cargando && examenes.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>
<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>