<!-- Titulo -->
<span class="first"> 
    <span id="salir-btn" class="fa fa-sign-out-alt out oculto animated fadeIn"></span>
<span id="titulo">Menu principal</span>
<span id="nuevo-btn" class="fa fa-pen-square new oculto animated fadeIn fast"></span>
</span>
<!-- Fin Titulo -->

<!-- Seleccion de la opción -->
<div id="seleccion" class="seleccion animated fadeIn fast" align="center">

    <div>
        <img data-user="alumnos" src="../../../assets/images/Man-256.png" alt="alumnos" class="seleccion-opcion" [routerLink]="['/alumnos']">
    </div>

    <div>
        <img data-user="asignaturas" src="../../../assets/images/Book Library-256.png" alt="asignaturas" class="seleccion-opcion" [routerLink]="['/asignaturas']">
    </div>

    <div>
        <img data-user="examenes" src="../../../assets/images/Education-256.png" alt="asignaturas" class="seleccion-opcion" [routerLink]="['/examenes']">
    </div>

</div>

<!-- FIN Seleccion de la opción -->